---
import Heading1 from "@/components/content/Heading1.astro";
import Heading2 from "@/components/content/Heading2.astro";
import Paragraph from "@/components/content/Paragraph.astro";
import MainLayout from "@/layouts/MainLayout.astro";
import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const pages = await getCollection("projects");
  const langs = Array.from(new Set(pages.map((page) => page.id.split("/")[0])));
  const projects = pages.reduce(
    (projects, project) => {
      const [lang, id] = project.id.split("/");
      if (!projects[id]) {
        projects[id] = {};
      }
      projects[id][lang] = project;
      return projects;
    },
    {} as Record<string, Record<string, (typeof pages)[number]>>
  );
  return Object.entries(projects).flatMap(([id, translatedProjects]) =>
    langs.map((lang) => ({
      params: { lang, id },
      props: translatedProjects[lang] || translatedProjects["en"],
    }))
  );
}

const project = Astro.props;
const { Content } = await render(project);
---

<MainLayout>
  <div class="flex items-center gap-3">
    {
      project.data.icon && (
        <Image src={project.data.icon} alt="" class="size-9" />
      )
    }
    <h2 class="title">{project.data.title}</h2>
  </div>
  <p class="text-muted-foreground my-2 text-lg">{project.data.description}</p>
  <Image
    src={project.data.thumbnail}
    alt={project.data.title}
    class="my-8 aspect-video w-full rounded-md object-cover shadow-lg"
  />
  <Content components={{ h1: Heading1, h2: Heading2, p: Paragraph }} />
</MainLayout>
