---
import CardLink from "@/components/utils/CardLink.astro";
import { getLang, useTranslations } from "@/i18n/utils";
import MainLayout from "@/layouts/MainLayout.astro";
import { sortProjects } from "@/lib/projects";
import { getCollection } from "astro:content";

const lang = getLang(Astro.currentLocale, Astro.url);
const t = useTranslations(lang);

const pages = await getCollection("projects");
const translatedProjects = pages.reduce(
  (projects, project) => {
    const [lang, id] = project.id.split("/");
    if (!projects[id]) {
      projects[id] = {};
    }
    projects[id][lang] = project;
    return projects;
  },
  {} as Record<string, Record<string, (typeof pages)[number]>>,
);
const projects = Object.values(translatedProjects)
  .map(
    (translatedProjects) =>
      translatedProjects[lang] || translatedProjects["en"],
  )
  .sort(sortProjects);
---

<MainLayout className="space-y-8">
  <h2 class="title">{t("projects.title")}</h2>
  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
    {
      projects.map((project) => (
        <CardLink
          href={`/${lang}/projects/${project.id.split("/")[1]}`}
          image={project.data.thumbnail}
          title={project.data.title}
          icon={project.data.icon}
        >
          {project.data.description}
        </CardLink>
      ))
    }
  </div>
</MainLayout>
